@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Underdog&display=swap');


body {
    background-color: #000911;
}

.november-list {
    font-family: "Montserrat", sans-serif;
    color: #96ccff;
}

fieldset.november-list {
    border: 3px solid #96ccff;
    margin: 2em;
    padding-right: 0;
    padding-bottom: 0;
    background-image: url(background-ref.png);
    background-size: cover;
    display: grid;
    /*grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-areas:
        "header header"
        "main bonus"; */
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.november-list .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.november-list legend {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.november-list legend h1 {
    margin-bottom: 0;
}

.november-list .header {
    /*grid-area: header; */
    text-align: center;
    width: 100%
}

.november-list details {
    flex: 1;
    background-color: #96ccffff;
    /* grid-area: bonus; */
    margin-bottom: 0;
    margin-right: 0;
    padding: 1em;
    border-radius: 10px 0px 0px 10px;
    mix-blend-mode: exclusion;
}

.november-list details li,
.november-list details summary {
    color: #0b324f;
}

.november-list details summary {
    display: flex;
}

.november-list details ol {
    overflow: hidden;
}

.november-list ol>li::marker {
    font-size: smaller;
    font-weight: bold;
}

.november-list .main {
    flex: 2;
}

.november-list .header p {
    color: #96ccff;
    font-weight: 500;
    font-size: larger;
    padding-right: 1em;
}

.november-list li {
    padding-bottom: 0.3em;
}

.november-list footer {
    font-size: smaller;
    padding: 0 0.3em;
    text-align: right;
    position: absolute;
    bottom: -0.5em;
    right: 1em;
    background-color: #000911;
}

.november-list footer p {
    margin: 0;
}

.november-list a,
.november-list a:visited {
    color: #96ccff;
}